<!DOCTYPE html>
<html>

<head>
  <title>List of Publications</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
      <%- include('layout') %>
          <h1>Aqui van las graficas pero no se si ocupar este sistema o mostrarlas en el Power BI</h1>
          
        </main>
    </div>
  </div>
</body>

</html>